@model List<VMDCore.Data.Models.Drink>

<div class="col-md-12">
    <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Напитки</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Stock)
                </th>
                <th>
                    <a onclick="showInPopupDrink('@Url.Action("ManageDrink","Admin")','Добавить напиток')" class="btn btn-success text-white"><i class="fas fa-random"></i>Добавить напиток</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {           
            <tr>
                <td>
                    @p.Title
                </td>
                <td>
                    @p.Price
                </td>
                <td>
                    @p.Stock
                </td>
                <td>
                    <div>
                        <a onclick="showInPopupDrink('@Url.Action("ManageDrink","Admin",new {id=p.DrinkId})','Редактировать напиток')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i>Изменить</a>
                        <form asp-action="DeleteConfirmedDrink" asp-route-id="@p.DrinkId" onsubmit="return jQueryAjaxDeleteDrink(this)" class="d-inline">
                            <input type="hidden" asp-for="@p.DrinkId" />
                            <input type="submit" value="Удалить" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

